# Same shared backend used by roamio-web (roamio-backend)
EXPO_PUBLIC_BACKEND_URL=http://localhost:5000

# Same shared Firebase project used by roamio-web
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyDDGK-5o9xgABpMf7pNB3MM-MDQRndZEfM
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=roamio-e7376.firebaseapp.com
EXPO_PUBLIC_FIREBASE_DATABASE_URL=https://roamio-e7376-default-rtdb.asia-southeast1.firebasedatabase.app
EXPO_PUBLIC_FIREBASE_PROJECT_ID=roamio-e7376
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=roamio-e7376.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=343632193263
EXPO_PUBLIC_FIREBASE_APP_ID=1:343632193263:web:7412fca501abbd45f25d1a
